@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --blue: #0082cd;
  --red: #d8202c;
  --black: #111b20;
  --gray: #a1a1a1;
  --light-gray: #cecfce;
  --white: #fafcfb;
  --success: #35ac5e;
}

body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
